@import url('https://fonts.googleapis.com/css2?family=inter:wght@400;600;700&display=swap');

* {
    font-family: 'inter', sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1.5vw;
}

#mainpage {
    color: #000;
    position: absolute;
    left: 8vw;
    font-size: 25px;
    border: none;
    cursor: pointer;
    background: none; 
}

.title {
    color: #000;
    font-size: 2vw;
    font-weight: bold;
}

#darkModeButton {
    position: absolute;
    font-size: 25px;
    right: 8vw;
    border: none;
    cursor: pointer;
    background: none; 
}

section.alert {
    background-color: rgb(0, 96, 221);
    border-radius: 5px;
    padding: 0.8vw;
    margin: 0 3vw;
}

div.text_alert {
    color: #fff;
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
}